<html>

<head>
<title>Reservar</title>
</head>

<h1>Eliga un vuelo</h1>

{% with messages = get_flashed_messages() %}
           {% if messages %}
              <script>
        var messages = {{ messages | safe }};
        for (var i=0; i<messages.length; i++) {
          alert(messages[i]);
        }
      </script>
        {% endif %}
{% endwith %}

<body style="background-color:#5845e8;">
{% block body  %}
  {% for i in range(0,lengthTemp) %}

  <form action="{{ url_for('reservarConexion') }}" method="POST">
    <input type="radio" name="radio" value="{{conexion1[i][0]['numVuelo']}}/{{conexion2[i][0]['numVuelo']}}"> Con escala en: {{conexion1[i][0]["destino"]}}<br>
    VUELO 1 : 
    Areolinea: {{conexion1[i][0]["aerolinea"]}}, Numero de Vuelo: {{conexion1[i][0]["numVuelo"]}} Hora de salida: {{conexion1[i][0]['horaSalida']}}, Hora de llegada: {{conexion1[i][0]['horaLlegada']}} <br>
    VUELO2: sale de {{conexion2[i][0]["origen"]}} 
    Areolinea: {{conexion2[i][0]["aerolinea"]}}, Numero de Vuelo: {{conexion2[i][0]["numVuelo"]}} Hora de salida: {{conexion2[i][0]['horaSalida']}}, Hora de llegada: {{conexion2[i][0]['horaLlegada']}}
    </input>
    <br>
  {% endfor %}
  <input type=submit name="boton" value="Reservar Vuelo">
  </form>
{% endblock %}
</body>

</html>